/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(images.jpg) no-repeat;
}

/* Hero Section */
.hero-section {
    background-image: url(undefined.jpg);
    color: white;
    padding: 50px 20px;
    height: 220px;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 4px 4px 6px #000;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #1a17b2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Features Section */
.features {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    height: 273px;
    background: url(owl.png) no-repeat left bottom;
    background-color: #ffffff;
}

.feature {
    border: 1px solid #d7c3c3;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #d7c3c3;
    margin-top: 60px;
    margin-bottom: 60px;
}

.feature h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

/* Footer */
footer {
    background: #000000d1;
    color: white;
    padding: 10px;
}